<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="ApplicationId" value="hdd79b6.ahdataadapter.1.0.0.release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="SharedSecret" value="1b01d7e0c4274757b0542db9742f4744" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="EdgeFTPPassword" value="VMvJAjoxbOsE/niBq61muZXWaYSIvSI+sOoRWI8AiPk="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="EdgeFTPKey" value="xAu8A6D2Jta4WBwADEaaCCum+i8YQH7s8WG0QpPS/Pxk8uCrfJn+I4tzbd3ApQnn0F/WFxZ9qTsEXNPOfg6yCSed7tnZ0WdKV+anq26HjS28MrE/kKehInI0b9Ph1B69kCtxWCZKz++YGJaSpI/4xPAFXENmFKHkX8yDJ+W2pDk=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="EdgeServiceUsername" value="JL3M8vOYatbpQnmAeOU6lg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="EdgeServicePassword" value="65asrSk4OnPGg9CDquWQqwnE4Oggyd/c501kMkMoO/g=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
</appSettings>