<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender, log4net" >
      <applicationName value="Mozu.AubuchonDataAdapter" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %P{ServerName} (%property{tenantId}) %P{ActivityId} %-5level %logger %message%newline%exception%newline%P" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\Aubuchon\Mozu.Aubuchon.Web.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] (%property{tenantId}) [%logger] %message%newline%exception" />
      </layout>
    </appender>
    <appender name="AppLogAppender" type="Mozu.AubuchonDataAdapter.Domain.Utility.LogAppender, Mozu.AubuchonDataAdapter.Domain">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] (%property{tenantId}) [%logger] %message%newline%exception" />
      </layout>
    </appender>    
    <root>
      <level value="INFO" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="AppLogAppender" />
    </root>
  </log4net>
</configuration>
