<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppName" value="Google Products" />
  <add key="ApplicationId" value="hdd79b6.google_products.1.0.0.Release" />
  <add key="SharedSecret" value="3ed7eff45c4347edb6ea983498b254af" />
  <add key="GoogleFTPHost" value="sftp://partnerupload.google.com" />
  <add key="GoogleFTPUsername" value="mc-sftp-110956230" />
  <add key="GoogleFTPPassword" value="&9(:VjO)2y" />
  <add key="GoogleFTPFootprint" value="85:19:8a:fb:60:4b:94:13:5c:ea:fe:3b:99:c7:a5:4d" />
  <add key="GoogleFTPPort" value="19321" />
  <add key="MozuAuthUrl" value="https://home.mozu.com" />
  <add key="log4net.config" value="log4net.config" />
  <add key="log4net.Config.Watch" value="true" />
  <add key="ServiceName" value="AubuchonService" />
  <add key="DisplayName" value="Aubuchon Service" />
</appSettings>
