<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppName" value="AubuchonDataAdapter" />
  <add key="ApplicationId" value="a33b3df.aubuchonconnector.1.0.0.sumit" />
  <add key="SharedSecret" value="17da5ae6fc1548bfbbfe5ec94e06304e" />
  <add key="EdgeFTPHost" value="mft.jaggedpeak.com" />
  <add key="EdgeFTPHostDirectory" value="/home/MozuAubuchonSFTP/inbox/Mozu/MemberAddEdit" />
  <add key="EdgeImportFilename" value="EdgeMember.xml" />
  <add key="EdgeImportTempDirectory" value="C:\temp\edge\" />
  <add key="EdgeFTPUsername" value="MozuAubuchonSFTP" />
  <add key="EdgeFTPPassword" value="Se7at@uCHe!" />
  <add key="EdgeFTPKey" value="ssh-rsa 2048 ed:52:dd:3a:b6:e7:20:58:6f:b5:f1:83:a8:bf:db:5d" />
  <add key="EdgeFTPPort" value="22" />
  <add key="EdgeServiceUsername" value="Mozu" />
  <add key="EdgeServicePassword" value="Mozu12345" />
  <add key="EdgeLocalInventoryAdvicePath" value="C:\EdgeInventory" />
  <add key="EdgeRemoteInventoryAdvicePath" value="/home/MozuAubuchonSFTP/inbox/Mozu/InventoryAdvice/" />
  <add key="ImportExportLocationPath" value="C:\ImportExport\" />
  <add key="MozuAuthUrl" value="https://home.mozu.com" />
  <add key="ServerUrl" value="https://03aee70d0a701760.a.passageway.io" />
  <add key="ProviderCode" value="MozuWs" />
  <add key="XrefMerchantId" value="MozuWs" />
  <add key="CatalogImportService" value="https://ahotws.jaggedpeak.com/opentools/CatalogImport.cfc" />
  <add key="MemberImportService" value="https://ahotws.jaggedpeak.com/opentools/MemberImport.cfc" />
  <add key="InventoryImportService" value="https://ahotws.jaggedpeak.com/opentools/InventoryImport.cfc" />
  <add key="FileUploadService" value="https://ahotws.jaggedpeak.com/opentools/FileUpload.cfc" />
  <add key="log4net.config" value="log4net.config" />
  <add key="log4net.Config.Watch" value="true" />
  <add key="ServiceName" value="AubuchonService" />
  <add key="DisplayName" value="Aubuchon Service" />
  <add key="JobGroup" value="AubuchonJobGroup" />
  <add key="IsLive" value="False" />
</appSettings>