<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mozu.AubuchonDataAdapter.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <Mozu.AubuchonDataAdapter.Domain.Properties.Settings>
      <setting name="Mozu_AubuchonDataAdapter_Domain_CatalogImportService_catalogimport_wrapService"
        serializeAs="String">
        <value>https://ahotws.jaggedpeak.com/opentools/catalogimport.cfc</value>
      </setting>
      <setting name="Mozu_AubuchonDataAdapter_Domain_Jp_CustomerImportService_memberimport_wrapService"
        serializeAs="String">
        <value>https://ahotws.jaggedpeak.com/opentools/memberimport.cfc</value>
      </setting>
      <setting name="Mozu_AubuchonDataAdapter_Domain_FileUploadService_fileupload_wrapService"
        serializeAs="String">
        <value>https://ahotws.jaggedpeak.com/opentools/fileupload.cfc</value>
      </setting>
      <setting name="Mozu_AubuchonDataAdapter_Domain_InventoryImportService_inventoryimport_wrapService"
        serializeAs="String">
        <value>https://ahotws.jaggedpeak.com/opentools/inventoryimport.cfc</value>
      </setting>
    </Mozu.AubuchonDataAdapter.Domain.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OrderHeaderServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OrderHeaderServicePortBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://50.206.125.135/WebService/Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
        contract="Loyalty.IService" name="WSHttpBinding_IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://aheis.jaggedpeak.com:443/webservices/soap/OrderHeaderService"
        binding="basicHttpBinding" bindingConfiguration="OrderHeaderServicePortBinding"
        contract="OrderHeaderService.OrderHeaderService" name="OrderHeaderServicePort">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>mozu</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">Mozu12345</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <microsoft.web.services3>
    <security>
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
</configuration>