@using System.Web.WebPages;

<h2>Add Closed Holidays</h2>
<br />
<div class="row">
    <table>
        <tr>
            <td>
                Holiday Name
            </td>
            <td>
                <input type="text" data-bind="value: selectedHolidayName" style="width: 300px; display:inline-block;" class="form-control" id="holidayName" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td>
                Holiday Date
            </td>
            <td>
                <input type="date" data-bind="value: selectedHolidayDate" style="width: 300px; display:inline-block;" class="form-control" id="holidayDate" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button id="addClosedHolidays" class="mz-button primary">Add Holiday</button>
            </td>
        </tr>
    </table>
</div>

<div class="tab-full-column">
    <table class="table table-striped" style="width: 100%;border:1px solid rgba(221, 221, 221, 1);">
        <thead>
            <tr>
                <th>Holiday Name</th>
                <th>Holiday Date</th>
                <th></th>
            </tr>
        <tbody id="closedHolidaysList">

        </tbody>
    </table>
</div>